{% extends 'base.html' %}

{% block title %}
  <title>所有商机列表</title>
{% endblock %}

{% block container %}
  <blockquote class="layui-elem-quote">
    <a href="{% url 'business_all' %}">所有商机</a>
    &ensp;/&ensp;
    <a href="javascript:;">所有商机列表</a>
  </blockquote>

  <hr class="layui-bg-green">

  <!--按钮组-->
  <form class="layui-form" action="." method="get">
    <div class="layui-form-item" pane>
      <input type="search" name="name" placeholder="请输入商机名称或客户名称进行搜索"
             autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item" style="width: 50%; margin-top: 10px;">
      <div class="layui-input-inline">
        <select name="user_id">
          <option value=""></option>
          {% for user in users %}
            <option value="{{ user.pk }}">{{ user.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">提交搜索</button>
    </div>
  </form>

  {% if request.session.user_role == 4 or request.session.user_role == 5 %}
  <a class="export-xls layui-btn layui-btn-warm" href="{% url 'export_business' %}">将所有商机信息导出到Excel</a>
  {% endif %}

  <table class="layui-table">
    <colgroup>
      <col width="5%">
      <col>
      <col>
      <col width="6%">
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th>商机名称</th>
      <th>客户名称</th>
      <th>赢单率</th>
      <th>预估金额</th>
      <th>创建时间</th>
      <th>创建人</th>
    </tr>
    </thead>
    <tbody>
    <!--数据-->
    {% for business in businesses %}
      <tr>
        <td style="text-align: center">
          {{ forloop.counter }}
        </td>
        <td>
          <a style="color: #01AAED" href="{% url 'business_all_detail' business.id %}">{{ business.name }}</a>
        </td>
        <td>
          {{ business.customer }}
        </td>
        <td>
          {{ business.get_winning_rate_display }}
        </td>
        <td>
          {{ business.money|default_if_none:'无信息' }}
        </td>
        <td>
          {{ business.created_at }}
        </td>
        <td>
          {{ business.user }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <!--分页器-->
  <div>
    <nav>
      <ul class="pagination">
        <li class="step-links">
          {% if businesses.has_previous %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm' href="?page={{ businesses.previous_page_number }}">上一页</a>
          {% endif %}

          <span class="current layui-btn layui-btn-primary layui-btn-sm">
            当前页 {{ businesses.number }}. 共 {{ businesses.paginator.num_pages }} 页.</span>

          {% if businesses.has_next %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm'
               href="?page={{ businesses.next_page_number }}">下一页</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block footer %}
  <script>
      //JavaScript代码区域
      layui.use(['element', 'laypage', 'form'], function () {
          var element = layui.element
              , laypage = layui.laypage
              , form = layui.form;

          // 执行一个page实例
          laypage.render({
              elem: 'page'
              , count: 50  // 总数，服务器传来
          });
      });
  </script>
{% endblock %}