{% extends 'base.html' %}

{% block title %}
  <title>首页--CRM客户管理信息系统</title>
{% endblock %}

{% block container %}
  <blockquote class="layui-elem-quote">
    <a href="javascript:;">首页</a>
    &ensp;/&ensp;
    <a href="javascript:;">数据一览</a>
  </blockquote>
  <hr class="layui-bg-green">

{#  <a class="layui-btn layui-btn layui-btn-normal" href="">更新数据</a>#}
  <!--排名情况-->
  <div class="layui-card">
    <div class="layui-card-body">
      <div class="layui-row">
        <div class="layui-col-md16">
          <table class="layui-table">
            <colgroup>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
            <tr>
              <th>姓名</th>
{#              比奥#}
{#              <th style="color: #393D49">昨日拜访记录</th>#}
{#              <th style="color: #393D49">昨日外呼数量</th>#}
{#              控创#}
              <th style="color: #393D49">昨日线下拜访</th>
              <th style="color: #393D49">昨日线上拜访</th>
              <th style="color: #393D49">新增客户</th>
              <th style="color: #393D49">新增商机</th>
              {#              比奥#}
{#              <th style="color: #1E9FFF">本周拜访数量</th>#}
{#              <th style="color: #1E9FFF">本周外呼数量</th>#}
              <th style="color: #1E9FFF">本周线下拜访</th>
              <th style="color: #1E9FFF">本周线上拜访</th>
              <th style="color: #1E9FFF">本周商机数量</th>
{#              比奥#}
{#              <th style="color: #2F4056">全部客户数量</th>#}
              <th style="color: #2F4056">本月客户数量</th>
              <th style="color: #2F4056">跟进商机</th>
              <th style="color: #2F4056">完成商机</th>
            </tr>
            </thead>
            <tbody>
            {% for count in counts %}
            <tr>
              <td style="color: #01AAED">{{ count.name }}</td>
              <td style="color: #393D49;">{{ count.yesterday_record }}</td>
              <td style="color: #393D49;">{{ count.yesterday_phone }}</td>
              <td style="color: #393D49;">{{ count.new_customer }}</td>
              <td style="color: #393D49;">{{ count.new_business }}</td>
              <td style="color: #1E9FFF">{{ count.week_record }}</td>
              <td style="color: #1E9FFF">{{ count.week_phone }}</td>
              <td style="color: #1E9FFF">{{ count.week_business }}</td>
{#              比奥#}
{#              <td style="color: #2F4056">{{ count.all_customer }}</td>#}
              <td style="color: #2F4056">{{ count.month_customer }}</td>
              <td style="color: #2F4056">{{ count.follow_business }}</td>
              <td style="color: #2F4056">{{ count.finish_business }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}