{% extends 'base.html' %}

{% block title %}
  <title>客户详情-{{ form.name.value }}</title>
{% endblock %}

{% block container %}
  <blockquote id="top" class="layui-elem-quote">
    <a href="{% url 'customer_all' %}">所有客户</a>
    &ensp;/&ensp;
    <a href="javascript:;">客户详情</a>
    &ensp;/&ensp;
    <a href="javascript:;">{{ form.name.value }}</a>
  </blockquote>

  <hr class="layui-bg-green">

  <!--客户详情-->
  <div id="1">
    <div class="layui-row layui-col-space10">
      <!--客户基本信息-->
      <div class="layui-col-md6">
        <form class="layui-form" action="" method="post">
          {% csrf_token %}
          <blockquote class="layui-elem-quote layui-quote-nm">客户基本信息</blockquote>
          <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="name" required lay-verify="required"
                     autocomplete="off" class="layui-input"
                     value="{{ form.name.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">客户级别</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed" style="pointer-events: none; cursor: not-allowed">
              {{ form.rank }}
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">公司网址</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="website"
                     autocomplete="off" class="layui-input"
                     value="{{ form.website.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">客户规模</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              {{ form.scale }}
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">客户性质</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              {{ form.nature }}
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">客户行业</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              {{ form.industry }}
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">创建人</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              {{ form.user }}
            </div>
          </div>
          {# 隐藏的表单，用户字段 #}
          <input type="hidden" name="user"
                 autocomplete="off" class="layui-input"
                 value="{{ request.session.user_id }}">
          {# 隐藏的表单，用户字段 #}
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <textarea name="remarks" class="layui-textarea" rows="7"
                        placeholder="请输入内容">{{ form.remarks.value|default_if_none:'' }}</textarea>
            </div>
          </div>
        </form>
      </div>
      <!--客户基本信息结束-->

      <!--客户地址信息-->
      <div class="layui-col-md6">
        <!--收货地址-->
        <form class="layui-form" action="" method="post">
          {% csrf_token %}
          <blockquote class="layui-elem-quote layui-quote-nm">收货地址和发票地址信息</blockquote>
          {# 隐藏的表单，客户名称外键字段 #}
          <input type="hidden" name="customer"
                 autocomplete="off" class="layui-input"
                 value="{{ pk }}">
          {# 隐藏的表单，客户名称外键字段 #}
          <div class="layui-form-item">
            <label class="layui-form-label">收货人</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="shop_username"
                     autocomplete="off" class="layui-input"
                     value="{{ shopform.shop_username.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="shop_phone" lay-verify="phone"
                     autocomplete="off" class="layui-input"
                     value="{{ shopform.shop_phone.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">所在地区</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <div data-toggle="distpicker" style="display: flex">
                <div class="form-group">
                  <select class="form-control" lay-filter="shop_province"
                          data-province="{{ shopform.shop_province.value|default_if_none:'' }}"
                          name="shop_province" id="shop_province"></select>
                </div>
                <div class="form-group">
                  <select class="form-control" lay-filter="shop_city"
                          data-city="{{ shopform.shop_city.value|default_if_none:'' }}"
                          name="shop_city" id="shop_city"></select>
                </div>
                <div class="form-group">
                  <select class="form-control" lay-filter="shop_area"
                          data-district="{{ shopform.shop_area.value|default_if_none:'' }}"
                          name="shop_area" id="shop_area"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="shop_address"
                     autocomplete="off" class="layui-input"
                     value="{{ shopform.shop_address.value|default_if_none:'' }}">
            </div>
          </div>
        </form>

        <!--发票地址-->
        <form class="layui-form" action="" method="post">
          {% csrf_token %}
{#          <blockquote class="layui-elem-quote layui-quote-nm">发票地址信息</blockquote>#}
          {# 隐藏的表单，客户名称外键字段 #}
          <input type="hidden" name="customer"
                 autocomplete="off" class="layui-input"
                 value="{{ pk }}">
          {# 隐藏的表单，客户名称外键字段 #}
          <div class="layui-form-item">
            <label class="layui-form-label">收货人</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="invoice_username"
                     autocomplete="off" class="layui-input"
                     value="{{ invoiceform.invoice_username.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="invoice_phone"
                     autocomplete="off" class="layui-input"
                     value="{{ invoiceform.invoice_phone.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">所在地区</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <div data-toggle="distpicker" style="display: flex">
                <div class="form-group">
                  <select class="form-control" lay-filter="invoice_province"
                          data-province="{{ invoiceform.invoice_province.value|default_if_none:'' }}"
                          name="invoice_province" id="invoice_province"></select>
                </div>
                <div class="form-group">
                  <select class="form-control" lay-filter="invoice_city"
                          data-city="{{ invoiceform.invoice_city.value|default_if_none:'' }}"
                          name="invoice_city" id="invoice_city"></select>
                </div>
                <div class="form-group">
                  <select class="form-control" lay-filter="invoice_area"
                          data-district="{{ invoiceform.invoice_area.value|default_if_none:'' }}"
                          name="invoice_area" id="invoice_area"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
              <input type="text" name="invoice_address"
                     autocomplete="off" class="layui-input"
                     value="{{ invoiceform.invoice_address.value|default_if_none:'' }}">
            </div>
          </div>
        </form>
      </div>
      <!--客户地址信息结束-->
    </div>

  </div>
{% endblock %}

{% block footer %}
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script src="/static/js/distpicker.js"></script>
  <script>
      //JavaScript代码区域
      layui.use(['element', 'form'], function () {
          var element = layui.element
              , form = layui.form;

          form.on('select(shop_province)', function (data) {
              $("#shop_province").val(data.value).change();
              form.render();
          })

          form.on('select(shop_city)', function (data) {
              $("#shop_city").val(data.value).change();
              form.render();
          })

          form.on('select(shop_area)', function (data) {
              $("#shop_area").val(data.value).change();
              form.render();
          })

          form.on('select(invoice_province)', function (data) {
              $("#invoice_province").val(data.value).change();
              form.render();
          })

          form.on('select(invoice_city)', function (data) {
              $("#invoice_city").val(data.value).change();
              form.render();
          })

          form.on('select(invoice_area)', function (data) {
              $("#invoice_area").val(data.value).change();
              form.render();
          })
      });
  </script>
{% endblock %}