{% extends 'base.html' %}

{% block title %}
  <title>客户列表</title>
{% endblock %}

{% block container %}
  <blockquote class="layui-elem-quote">
    <a href="{% url 'customer' %}">客户</a>
    &ensp;/&ensp;
    <a href="javascript:;">客户列表</a>
  </blockquote>

  <hr class="layui-bg-green">

  <!--按钮组-->
  <form class="layui-form" action="." method="get">
{#    <div class="layui-row">#}
{#      <div class="layui-col-md1">#}
{#        <a class="layui-btn layui-btn-normal" href="{% url 'customer_add' %}">添加客户</a>#}
{#      </div>#}
{##}
{#      <div class=" layui-col-md3">#}
{#        <label class="layui-form-label">用户筛选</label>#}
{#        <div class="layui-input-block">#}
{#          <select name="city" lay-verify="required">#}
{#            <option value=""></option>#}
{#            <option value="0">北京</option>#}
{#            <option value="1">上海</option>#}
{#            <option value="2">广州</option>#}
{#            <option value="3">深圳</option>#}
{#            <option value="4">杭州</option>#}
{#          </select>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
    <div class="layui-form-customer" pane style="display: flex">
      <input type="search" name="name" placeholder="请输入客户名称进行搜索"
             autocomplete="off" class="layui-input">
    </div>
  </form>

  <table class="layui-table">
    <colgroup>
      <col width="5%">
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col width="10%">
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th>客户名称</th>
      <th>客户级别</th>
      <th>客户规模</th>
      <th>客户行业</th>
      <th>创建时间</th>
      <th>创建人</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <!--数据-->
    {% for customer in customers %}
      <tr>
        <td style="text-align: center">
          {{ forloop.counter }}
        </td>
        <td>
          <a style="color: #01AAED" href="{% url 'customer_detail' customer.id %}">{{ customer.name }}</a>
        </td>
        <td>
          {{ customer.get_rank_display }}
        </td>
        <td>
          {{ customer.get_scale_display }}
        </td>
        <td>
          {{ customer.get_industry_display|default_if_none:'' }}
        </td>
        <td>
          {{ customer.created_at }}
        </td>
        <td>
          {{ customer.user }}
        </td>
        <td>
          <div class="layui-btn-group">
            <a class="layui-btn layui-btn-sm layui-btn-normal" href="{% url 'customer_edit' customer.id %}">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger"
               onclick="return deleteCus();" href="{% url 'customer_delete' customer.id %}">删除</a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <!--分页器-->
  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }}
      共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}

{% endblock %}

{% block footer %}
  <script>
    //JavaScript代码区域
    layui.use(['element', 'laypage', 'form'], function(){
      var element = layui.element
      , laypage = layui.laypage
      , form = layui.form;
    });
  </script>
  <script type="text/javascript" language="JavaScript">
    function deleteCus() {
      if (confirm("确定要删除吗？")){
          return true;
      } else {
          return false;
      }
    }
  </script>
{% endblock %}