{% extends 'base.html' %}

{% block title %}
  <title>所有联系人列表</title>
{% endblock %}

{% block container %}
  <blockquote class="layui-elem-quote">
    <a href="{% url 'liaison_all' %}">所有联系人</a>
    &ensp;/&ensp;
    <a href="javascript:;">所有联系人列表</a>
  </blockquote>

  <hr class="layui-bg-green">

  <!--按钮组-->
  <form class="layui-form" action="." method="get">
    <div class="layui-form-item" pane>
      <input type="search" name="name" placeholder="请输入联系人姓名进行搜索"
             autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item" style="width: 50%; margin-top: 10px;">
      <div class="layui-input-inline">
        <select name="user_id">
          <option value=""></option>
          {% for user in users %}
            <option value="{{ user.pk }}">{{ user.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">提交搜索</button>
    </div>
  </form>

  {% if request.session.user_role == 4 or request.session.user_role == 5 %}
  <a class="export-xls layui-btn layui-btn-warm" href="{% url 'export_liaison' %}">将所有联系人信息导出到Excel</a>
  {% endif %}

  <table class="layui-table">
    <colgroup>
      <col width="5%">
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th>联系人姓名</th>
      <th>客户名称</th>
      <th>联系方式</th>
      <th>职位</th>
      <th>是否在职</th>
      <th>创建时间</th>
      <th>创建人</th>
    </tr>
    </thead>
    <tbody>
    <!--数据-->
    {% for liaison in liaisons %}
      <tr>
        <td style="text-align: center">
          {{ forloop.counter }}
        </td>
        <td>
          <a style="color: #01AAED" href="{% url 'liaison_all_detail' liaison.id %}">{{ liaison.name }}</a>
        </td>
        <td>
          {{ liaison.customer }}
        </td>
        <td>
          {{ liaison.phone }}
        </td>
        <td>
          {{ liaison.get_job_display }}
        </td>
        <td>
          {{ liaison.get_injob_display }}
        </td>
        <td>
          {{ liaison.created_at }}
        </td>
        <td>
          {{ liaison.user }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <!--分页器-->
  <div>
    <nav>
      <ul class="pagination">
        <li class="step-links">
          {% if liaisons.has_previous %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm' href="?page={{ liaisons.previous_page_number }}">上一页</a>
          {% endif %}

          <span class="current layui-btn layui-btn-primary layui-btn-sm">
            当前页 {{ liaisons.number }}. 共 {{ liaisons.paginator.num_pages }} 页.</span>

          {% if liaisons.has_next %}
            <a class='active layui-btn layui-btn-normal layui-btn-sm'
               href="?page={{ liaisons.next_page_number }}">下一页</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block footer %}
  <script>
      //JavaScript代码区域
      layui.use(['element', 'laypage', 'form'], function () {
          var element = layui.element
              , laypage = layui.laypage
              , form = layui.form;

          // 执行一个page实例
          laypage.render({
              elem: 'page'
              , count: 50  // 总数，服务器传来
          });
      });
  </script>
{% endblock %}