{% extends 'base.html' %}

{% block title %}
  <title>联系人详情-{{ form.name.value }}</title>
{% endblock %}

{% block container %}
  <blockquote id="top" class="layui-elem-quote">
    <a href="{% url 'liaison_all' %}">所有联系人</a>
    &ensp;/&ensp;
    <a href="javascript:;">联系人详情</a>
    &ensp;/&ensp;
    <a href="javascript:;">{{ form.name.value }}</a>
  </blockquote>

  <hr class="layui-bg-green">

  <!--联系人信息详情-->
  <div id="1" class="layui-row">
    <!--联系人基本信息-->
    <form class="layui-form layui-col-md6" action="" method="post">
      {% csrf_token %}
      <blockquote class="layui-elem-quote layui-quote-nm">联系人基本信息</blockquote>
      <div class="layui-form-item">
        <label class="layui-form-label">联系人姓名</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <input type="text" name="name" required lay-verify="required"
                 autocomplete="off" class="layui-input"
                 value="{{ form.name.value|default_if_none:'' }}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">客户名称</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          {{ form.customer|default_if_none:'' }}
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <input type="text" name="phone" lay-verify="phone"
                 autocomplete="off" class="layui-input"
                 value="{{ form.phone.value|default_if_none:'' }}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">职位</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          {{ form.job }}
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">是否在职</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          {{ form.injob }}
        </div>
      </div>
      <!--详细信息-->
      <div class="layui-form-item">
        <label class="layui-form-label">微信</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <input type="text" name="wx"
                 autocomplete="off" class="layui-input"
                 value="{{ form.wx.value|default_if_none:'' }}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">QQ</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <input type="text" name="qq"
                 autocomplete="off" class="layui-input"
                 value="{{ form.qq.value|default_if_none:'' }}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">电子邮箱</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <input type="text" name="email"
                 autocomplete="off" class="layui-input"
                 value="{{ form.email.value|default_if_none:'' }}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">兴趣爱好</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <input type="text" name="hobby"
                 autocomplete="off" class="layui-input"
                 value="{{ form.hobby.value|default_if_none:'' }}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">生日</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <input type="text" name="birthday"
                 autocomplete="off" class="layui-input" id="birthday"
                 value="{{ form.birthday.value|default_if_none:'' }}">
        </div>
      </div>
      <div class="layui-form-item" style="pointer-events: none; cursor: not-allowed">
        <label class="layui-form-label">创建人</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          {{ form.user }}
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block" style="pointer-events: none; cursor: not-allowed">
          <textarea name="remarks" class="layui-textarea"
                    placeholder="请输入内容">{{ form.remarks.value|default_if_none:'' }}</textarea>
        </div>
      </div>
      {# 隐藏的表单，用户字段 #}
      <input type="hidden" name="user"
             autocomplete="off" class="layui-input"
             value="{{ request.session.user_id }}">
      {# 隐藏的表单，用户字段 #}
    </form>
    <!--联系人基本信息结束-->
  </div>
  <hr>
  <!--联系人信息详情结束-->
{% endblock %}

{% block footer %}
  <script>
      //JavaScript代码区域
      layui.use(['element', 'form', 'jquery', 'laydate'], function () {
          var element = layui.element
              , form = layui.form
              , $ = layui.$
              , laydate = layui.laydate;

          $(function () {
            $("#customer input").attr("disabled", true);
          })

          laydate.render({
              elem: '#birthday'
          })
      });
  </script>
{% endblock %}