{% extends 'base.html' %}

{% block title %}
  <title>联系人列表</title>
{% endblock %}

{% block container %}
  <blockquote class="layui-elem-quote">
    <a href="{% url 'liaison' %}">联系人</a>
    &ensp;/&ensp;
    <a href="javascript:;">联系人列表</a>
  </blockquote>

  <hr class="layui-bg-green">

  <!--按钮组-->
  <form class="layui-form" action="." method="get">
    <div class="layui-form-item" pane>
      <input type="text" name="name" placeholder="请输入联系人姓名进行搜索"
             autocomplete="off" class="layui-input">
    </div>
  </form>

  <table class="layui-table">
    <colgroup>
      <col width="5%">
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col width="10%">
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th>联系人姓名</th>
      <th>客户名称</th>
      <th>联系方式</th>
      <th>职位</th>
      <th>是否在职</th>
      <th>创建时间</th>
      <th>创建人</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <!--数据-->
    {% for liaison in liaisons %}
      <tr>
        <td style="text-align: center">
          {{ forloop.counter }}
        </td>
        <td>
          <a style="color: #01AAED" href="{% url 'liaison_detail' liaison.id %}">{{ liaison.name }}</a>
        </td>
        <td>
          {{ liaison.customer }}
        </td>
        <td>
          {{ liaison.phone }}
        </td>
        <td>
          {{ liaison.get_job_display }}
        </td>
        <td>
          {{ liaison.get_injob_display }}
        </td>
        <td>
          {{ liaison.created_at }}
        </td>
        <td>
          {{ liaison.user }}
        </td>
        <td>
          <div class="layui-btn-group">
            <a class="layui-btn layui-btn-sm layui-btn-normal" href="{% url 'liaison_edit' liaison.id %}">编辑</a>
            <a class="layui-btn layui-btn-sm layui-btn-danger"
               onclick="return deleteLia();" href="{% url 'liaison_delete' liaison.id %}">删除</a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <!--分页器-->
  {% if page_obj %}
    {% if page_obj.has_previous %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.previous_page_number }}">上一页</a>
    {% endif %}
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:;">当前页 {{ page_obj.number }}
      共 {{ paginator.num_pages }} 页.</a>
    {% if page_obj.has_next %}
      <a class="layui-btn layui-btn-normal layui-btn-sm" href="?page={{ page_obj.next_page_number }}">下一页</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}
  <script>
      //JavaScript代码区域
      layui.use(['element', 'laypage', 'form'], function () {
          var element = layui.element
              , laypage = layui.laypage
              , form = layui.form;

          // 执行一个page实例
          laypage.render({
              elem: 'page'
              , count: 50  // 总数，服务器传来
          });
      });
  </script>
  <script type="text/javascript" language="JavaScript">
      function deleteLia() {
          if (confirm("确定要删除吗？")) {
              return true;
          } else {
              return false;
          }
      }
  </script>
{% endblock %}